<!doctype html>
<html>
  <head>
    <title>{{ titulo }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/facturas">Facturas</a></li>
      </ul>
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p style="margin-left: 6px;">&copy; {{ anio }} - App Tickets</p>
    </footer>

  </body>
</html>


