<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ factura.serial }}</title>
  </head>
  <body>
    <h1>Factura {{ factura.serial }}</h1>
    <p>Nombre: {{ factura[0] }} {{ factura[1] }}</p>
    <p>Fecha: {{ factura[4] }}</p>
    <table>
      <thead>
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for producto, precio in productos.items() %}
            <tr>
                <td>{{ producto }}</td>
                <td>{{ precio.precio }}</td>
                <td>de ser ganador: {{ precio.precio * 30 }}</td>
            </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td>{{ factura[3] }}</td>
        </tr>
      </tfoot>
    </table>
  </body>
</html>

